<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <canvas id="game" width="400" height="400" style="border: 1px solid black"
    ></canvas>
    <!-- <script type="text/javascript" src="javascripts/perlin.js"></script> -->
    <script type="text/javascript" src="javascripts/test.js"></script>
    <div id="debug"></div>
  </body>
</html>
